[Desktop Entry]
Name=MeshDrop
Comment=Cross-platform LAN share
Exec=meshdrop
Icon=com.welape.meshdrop.linux
Keywords=share;lan;drop;wifi;p2p;
StartupWMClass=com.welape.meshdrop.linux
Terminal=false
Type=Application
Categories=Network;FileTransfer;Utility;
StartupNotify=true
