[Desktop Entry]
Name=MeshDrop
Comment=Cross-platform LAN share
Exec=meshdrop
Icon=drop.mesh.linux
Terminal=false
Type=Application
Categories=Network;FileTransfer;Utility;
StartupNotify=true
